html {
    min-height: 100%;
    height: 100%;
    position: relative;
    width: 100%;
    border: 0;
    left: 0;
}
.parallax { 
    /* The image used */
    background-image: url("Images/nicer.jpg");
    opacity: 0.7;
    /* Set a specific height */
    height: 60vw !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxf { 
    /* The image used */
    background-image: url("Images/nicer.jpg");
    opacity: 0.7;
    /* Set a specific height */
    height: 80vw !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 { 
    /* The image used */
    background-image: url("Images/nicer.jpg");
    opacity: 0.7;
    /* Set a specific height */
    height: 5vw !important; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    display: block;
}

.navbar {
    list-style-type: none;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    float: left;
    display: block;
    font-size: 1.4vw;
    color: white;
    text-align: center;
    padding: 1vw 3.5vw;
    text-decoration: none;
    text-decoration: bold;
}

/* Change the link color to #111 (black) on hover */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
        #menuicon {
            width: 11vw;
            height: 11vw;
        }
        
        #menu {
            font-size: 6.3vw !important;
            padding: 3vw !important;
            width: 55vw !important;
            background:rgba(1,1,1,0.7) !important;
        }
        
        #menubox {
            margin-top: 11vw !important;
            width: 55vw !important;
        }
        
        #menucontainer {
            width: 55vw !important;
        }
}

#menuicon {
    float: right;
    padding: 1vw;
    width: 5vw;
    height: 5vw;
    z-index: 5;
}

#menucontainer {
    position: absolute;
    text-align: right;
    width: 13vw;
    z-index: 5;
    height: auto;
    right: 0;
}

#menuicon:hover {
    opacity: 0.5;
}

#menubox {
    z-index: 4;
    width: 13vw;;
    margin-top: 5vw;
    height: auto;
}

#menu {
    background:rgba(1,1,1,0.5);
    color: white;
    padding: 0.8vw;
    padding-right: 1.2vw;
    margin: 0;
    width: 13vw;
    font-size: 1.2vw;
    display: block;
}

#menu:hover {
    background: rgba(1,1,1,0.7) !important;
}

li a:hover {
    background-color: #111;
}

.navigation{
    position: absolute;
    left: 0;
    width: 100%;
    font-family: Abel;
    z-index: 2;
}

#topnav {
    top: 0;
}

#bottomnavbar {
    position: relative;
    height: 3.7vw;
    width: 100%;
    left: 0;
    bottom: 0;
}

body {
    min-height: 100%;
    height: 100%;
    font-family: 'Abel', sans-serif;
    margin: 0;
}

.grass {
    position: relative;
    width: 100%;
    border: 0;
}

.title {
    text-align: center;
    font-size: 7vw;
    width: 30vw;
    color: white;
    z-index: 2;
    margin-top: 4.5vw !important;
}

#titletext {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 30vw;
    opacity: 1;
    font-weight: 900;
    font-family: 'Abel', sans-serif;
}

#realtitletext {
    vertical-align: middle;
    width: 100%;
    margin: auto;
    position: absolute;
    padding-top: 4vw;
    height: 26vw;
}

#logo{
    width: 20vw;
    vertical-align: middle;
    opacity: 0.85;
    position: relative;
    float: left;
}

.headers {
    position: relative;
    width: 100%;
}

#VCScontainer {
    background-color: black;
    opacity: 0.7;
    position: relative;
    width: 100%;
    padding-bottom: 5vw;
    padding-top: 1vw;
    vertical-align: middle;
    color: white;
}

#Vector {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1vw;
    margin-top: 4vw;
}

#Alameda {
    text-align: center;
    font-size: 2vw;
    margin-top: 0;
}

#VCSparagraph {
    width: 50%;
    transform: translate(50%);
    font-size: 1.5vw;
}

#buttonbox {
    width: 100%;
    text-align: center;
}

#VCbutton {
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
    border: none;
    color: black;
    padding: 1vw;
    background-color: #a9e0cb;
    text-align: center;
    display: inline-block;
    border-radius: 1vw;
    z-index: 3;
}

#VCbutton:hover {
    background-color:#7ad0af;
}

#MSNcontainer {
    display: table;
    position: relative;
    background: black;
    color: white;
    opacity: 0.9;
    width: 100%;
    height: 47vw;
    border: 0;
}

#MSNcontainer1 {
    width: 50%;
    transform: translateY(30%);
    vertical-align: middle;
    position: absolute;
}

#MSN {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 0;
}

#Fremont {
    text-align: center;
    font-size: 2vw;
    margin-top: 0;
}

#MSNparagraph {
    width: 70%;
    transform: translate(25%);
    font-size: 1.5vw;
}

#MSNbutton {
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
    border: none;
    width: 23vw;
    color: black;
    padding: 1vw;
    transform: translateX(12vw) translateY(1vw);
    background-color: #9cded7;
    text-align: center;
    display: inline-block;
    border-radius: 1vw;
}

#MSNbutton:hover {
    opacity: 0.7;
}

#Bluefordcontainer {
    display: table-cell;
    background-color: gray;
    width: 35%;
    opacity: 0.9;
    height: 59vw;
    position: relative;
    float: right;
    margin-right: 9vw;
}

#bluefordpic {
    width: 15vw;
    height: 15vw;
    transform: translateY(5vw) translateX(9.3vw);
}

#bluefordcaption {
    text-align: center;
    transform: translateY(4vw);
    font-size: 1.7vw;
}

#blueforddescription {
    text-align: left;
    width: 80%;
    transform: translateY(15%) translateX(15%);
    font-size: 1.3vw;
}

#teamcontainer {
    float: left;
    position: relative;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    margin-top:0vw;
}

#teamheading {
    margin-top: 0vw;
    text-align: center;
    font-size: 3vw;
}

table {
    width: 80% !important;
    height: 70vw;
    margin: auto;

}

td {
    text-align: center;
    vertical-align: top;
    padding: 0.8vw;
}

#name {
    font-size: 1.7vw;
    color: whitesmoke;
    margin: 0;
}

#school {
    font-size: 1.1vw;
    margin: 0;
    font-style: normal;
    margin-bottom: 0;
    color: white;
}

#phoebepic {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    margin: auto;
}

#role {
    font-size: 1.3vw;
    margin-top: 0;
    color: whitesmoke;
    margin-bottom: 0;
    
}
