body {
    text-align: center;
    font-family: Abel, sans-serif;
    margin-top: 3vw;
}

.content {
    margin-top: 3vw;
    margin: auto;
}

#buttons {
    margin: auto;
    margin-bottom: 2vw;
}

#setup {
    height: 11vw;
    width: 11vw;
    background-color: #9cded7;
    border-radius: 50%;
    margin-right: 1.5vw;
}

#setup:hover {
    opacity: 0.7;
}

#setuptext {
    line-height: 11vw;
    font-size: 1.3vw;
    color: black;
}

#found {
    height: 11vw;
    width: 11vw;
    background-color: #a9e0cb;
    border-radius: 50%;
    margin-left: 1.5vw;
}

#found:hover {
    opacity: 0.7;
}

#foundtext {
    line-height: 11vw;
    font-size: 1.3vw;
    color: black;
}

#warning {
    height: 2.5vw;
}

#warningtext {
    margin: auto;
    color: red;
    font-size: 1.1vw;
}