@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Pathway Gothic One');



#data_table{
   font-family: Abel;
   display: table;
   width: 100vw;
   margin-top: 1em;
   margin: auto;
   width: auto;
}

#subtitle{
   text-align: center;
   font-size: 5vw;
}
}
.header-container, .session-container{
   display: table-row;
   width: 100vw;
}

.header-date, .header-pos, .header-lat, .header-type,
.header-weath,
.one, .two, .three, .four,
.five{
   display: table-cell;
   border: 0.1vw solid;
   border-collapse: collapse;
   margin: 1px 1px 1px 1px;
   padding-top: 1vw;
   text-align: center;
   width: 11vw;
   height: 7vw;


}



.header-last, .six{
   display: table-cell;
   border: 0.1vw solid;
   border-collapse: collapse;
   margin: 1px 1px 1px 1px;
   padding-top: 1vw;
   text-align: center;
   width: 15vw;
   height: 7vw;

}



.header-date, .header-pos, .header-lat, .header-type,
.header-weath, .header-last{
   background-color: darkseagreen;
   font-size: 2vw;
    font-weight: bold;
}

.header-lat{
    width:15vw;
}

 .four{
    width: 15vw;
    text-align: left; !important
}

.header-type, .one {
   width: 4vw;
   font-size: 2vw;
}

.two, .three, .four,
.five, .six{
    font-size: 1.2vw;
}

.one{
    font-size: 2vw;
}

