@import url('https://fonts.googleapis.com/css?family=Abel');

body{
	background-image: url("Images/backgroundroad.jpg");
    height: 100%;
}

h1{
	text-align: center;
    padding-top: 4vw;
    font-size: 5vw;
    font-family: 'Abel';
}

#firebaseui-auth-container {
    margin-top: 1vw;
}

